<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Listagem de livros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
          <ion-item *ngFor="let livro of livros">
              <ion-thumbnail>
                  <img [src]="livro.logoUrl" alt="livro.titulo" />
              </ion-thumbnail>

              <ion-label class="livro-descricao">
                    <h1>{{livro.titulo}}</h1>
                    <h2>{{livro.subtitulo}}</h2>

                    <h3>
                        <strong>
                            {{livro.autores.length > 1 ? 'Autor(es)' : 'Autor' }}:
                        </strong>
                    </h3>

                    <ul>
                        <li *ngFor="let autor of livro.autores">
                            <h3 class="autor">{{autor.nome}}</h3>
                        </li>
                    </ul>

                    <h3><strong>ISBN</strong>: {{livro.isbn}}</h3>
                    <h3><strong>Pág.</strong>: {{livro.numeroPaginas}}</h3>
                    <h3><strong>Editora</strong>: {{livro.editora}}</h3>
                    <h3><strong>Ano</strong>: {{livro.ano}}</h3>
              </ion-label>

              <ion-text color="danger">
                  <h2>{{livro.preco | currency}}</h2>
              </ion-text>
          </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['novo']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<!--

1. **Cabeçalho**:
    - O cabeçalho da página contém uma barra de ferramentas com um botão de menu e o título "Listagem de livros".

2. **Conteúdo**:
    - A seção de conteúdo da página exibe uma lista de livros.
    - Para cada livro, são exibidas as seguintes informações:
        - **Imagem do Livro**: Representada por um ícone de miniatura (thumbnail).
        - **Título e Subtítulo**: Exibidos como títulos de nível 1 e 2.
        - **Autores**: Se houver mais de um autor, o texto "Autores" é usado; caso contrário, "Autor".
        - **Lista de Autores**: Cada autor é exibido em uma lista não ordenada (ul).
        - **ISBN, Número de Páginas, Editora e Ano**: Exibidos com seus respectivos valores.
        - **Preço**: Exibido em vermelho (cor perigosa) e formatado como moeda.

3. **Botão de Adição**:
    - Um botão de adição (representado pelo ícone de "+" no canto inferior direito) permite ao usuário adicionar um novo livro.

Em resumo, essa página apresenta uma lista visualmente organizada de livros, com detalhes relevantes para cada livro. O usuário também tem a opção de adicionar novos livros.

-->
