<ion-item>
  <ion-label>Select Activity Type:</ion-label>
  <ion-select (ionChange)="selectType($event.detail.value)">
    <ion-select-option value="education">Education</ion-select-option>
    <ion-select-option value="recreational">Recreational</ion-select-option>
    <ion-select-option value="social">Social</ion-select-option>
    <ion-select-option value="diy">DIY</ion-select-option>
    <ion-select-option value="charity">Charity</ion-select-option>
    <ion-select-option value="cooking">Cooking</ion-select-option>
    <ion-select-option value="relaxation">Relaxation</ion-select-option>
    <ion-select-option value="music">Music</ion-select-option>
    <ion-select-option value="busywork">Busywork</ion-select-option>
  </ion-select>
</ion-item>
