<ion-header>
    <ion-toolbar color="primary">
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>

          <ion-title>Cadastro de Livros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="livroForm" (ngSubmit)="onSubmit()">

      <ion-item>
          <ion-input formControlName="titulo" type="text" placeholder="Título" label="Título" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input formControlName="subtitulo" type="text" placeholder="Subtítulo" label="Subtítulo" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input formControlName="paginas" type="number" placeholder="N°. Páginas" label="N°. Páginas"
              labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input formControlName="isbn" type="text" placeholder="ISBN" label="ISBN" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input formControlName="editora" type="text" placeholder="Editora" label="Editora" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input formControlName="ano" type="number" placeholder="Ano" label="Ano" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input formControlName="url" type="url" placeholder="Logo (URL)" label="Logo (URL)" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input formControlName="preco" type="number" placeholder="Preço" label="Preço" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
          <ion-item>
              <ion-select formControlName="autores" label="Autor(es)" value="" multiple="true" placeholder="Selecione os autores"
                    [compareWith]="compareWith">
                    <ion-select-option *ngFor="let autor of autores" [value]="autor">
                        {{autor.nome}}
                    </ion-select-option>
              </ion-select>
          </ion-item>
      </ion-item>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-button type="submit">
              <ion-icon name="checkmark"></ion-icon>
          </ion-button>
      </ion-fab>

  </form>

</ion-content>

<ion-footer>

</ion-footer>

<!--

1. **Cabeçalho**:
    - O cabeçalho da página contém uma barra de ferramentas com um botão de menu e o título "Cadastro de Livros".

2. **Conteúdo**:
    - A seção de conteúdo da página contém vários campos de entrada de dados para o cadastro de informações sobre um livro:
        - **Título**: Um campo de texto para inserir o título do livro.
        - **Subtítulo**: Um campo de texto para inserir o subtítulo do livro.
        - **N°. Páginas**: Um campo numérico para inserir o número de páginas do livro.
        - **ISBN**: Um campo de texto para inserir o código ISBN do livro.
        - **Editora**: Um campo de texto para inserir o nome da editora do livro.
        - **Ano**: Um campo numérico para inserir o ano de publicação do livro.
        - **Logo (URL)**: Um campo de URL para inserir a URL da imagem do logo do livro.
        - **Preço**: Um campo numérico para inserir o preço do livro.
        - **Autor(es)**: Um seletor múltiplo para escolher os autores do livro. Os autores são exibidos em uma lista de opções.

3. **Botão de Confirmação**:
    - Um botão de confirmação (representado pelo ícone de checkmark) está posicionado no canto inferior direito da tela.

4. **Rodapé**:
    - O rodapé da página está vazio.

Em resumo, essa página permite que o usuário insira informações detalhadas sobre um livro, incluindo título, subtítulo, número de páginas, ISBN, editora, ano de publicação, URL do logo, preço e autores associados.

-->
