<ion-header>
  <ion-toolbar>
      <ion-title>Bored</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
          <ion-label>Type</ion-label>
          <ion-select multiple="false" formControlName="type" placeholder="Select the type of activity">

          </ion-select>
      </ion-item>
      <ion-item>
          <ion-button type="submit">Search</ion-button>
      </ion-item>
      <ion-item>
          <h1>
              <ion-text color="primary">{{activity}}</ion-text>
          </h1>
      </ion-item>
  </form>
</ion-content>

<!--
<ion-item>
  <ion-item>
      <ion-select label="Autor(es)" value="" multiple="true" placeholder="Selecione os autores" [compareWith]="compareWith">
          <ion-select-option *ngFor="let autor of autores" [value]="autor">
              {{autor.nome}}
          </ion-select-option>
      </ion-select>
  </ion-item>
</ion-item>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
      <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>

-->
