<ion-header>
  <ion-toolbar>
      <ion-title>GitHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
          <ion-label>Type</ion-label>
          <ion-select multiple="false" formControlName="type" placeholder="Select the type of activity">
              @for(type of types; track type) {
              <ion-select-option [value]="type">{{type}}</ion-select-option>
              }
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-button type="submit">Search</ion-button>
      </ion-item>
      <ion-item>
          <h1>
              <ion-text color="primary">{{activity}}</ion-text>
          </h1>
      </ion-item>
  </form>
</ion-content>
